{% extends 'layout.html' %}


{% block content %}


<div class="container">
      
  <div class="row">
    <div  class="col-md-6 offset-md-4 rounded mt-5 bg-dark">
      <div class="d-flex justify-content-center gap-1 p-2 ">
        <button id="signup-btn" class="btn btn-success">Sign Up</button></a>
        <button id="login-btn" class="btn btn-success ">Log In</button>
      </div>
      
      <div class="text-center">
        

        {% include 'partials/signup.html' %}

        {% include 'partials/login.html' %}

      
      </div>
      
      
    </div>  </div><!-- tab-content -->
  
</div> <!-- /form -->

{% endblock %}